<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Guest Book: Puspacinantya</title>
       <!-- navbar -->  
       {% include 'navbar.html' %}
</head>
<body>
    <!-- masukin header nama -->  
    {% include 'namaku.html' %}   
    <form class="buktam">
            <h4 class="pagename">Guest Form</h4>
            <div class="form-group">
                <label for="exampleInputText">Your name</label>
                <input class="form-control" type="text" placeholder="Your name">
            </div>
            <div class="form-group">
                    <label for="exampleDateType">Date</label>
                    <input class="form-control" type="date" placeholder="dd/mm/yyyy">
            </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input class="form-control" type="email" id= "exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            <div class="form-group">
                        <label for="exampleInputText">Subject</label>
                        <input class="form-control" type="text" placeholder="Subject of your message">
                    </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Your Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Write me a message. say hi!"></textarea>
            </div>
            <div class="submit-btn">
                    <button type="submit" class="btn btn-dangery" style="color:#A10115">Submit</button>
            </div>
              </form>
    <!-- masukin link yang js dari bootstrap biar jalan navbar kl kecil -->  
    {% include 'todrop.html' %}
</body>

</html>