<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Contact me: Puspacinantya</title>
       <!-- navbar -->  
       {% include 'navbar.html' %}
</head>
<body>
    <div class="container">
        <!-- masukin header nama -->  
        {% include 'namaku.html' %}   

            <div class="contact">
                <h4 class="pagename">Contact Me</h4>
                <div class="links">
                    <p><a class="listoflink" href="mailto: puspacinantya@gmail.com">Email</a></p>
                    <p><a class="listoflink" href="twitter.com/puspacinantya">Twitter</a></p>
                    <p><a class="listoflink" href="facebook.com/mia.puspacinantya">Facebook</a></p>
                    <p><a class="listoflink" href="instagram.com/puspacinantya">Instagram</a></p>
                        
                </div>
            </div>
    </div>
    <!-- masukin link yang js dari bootstrap biar jalan navbar kl kecil -->  
    {% include 'todrop.html' %}
</body>
</html>