<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>My Website</title>
    
       <!-- navbar -->  
       {% include 'navbar.html' %}
</head>
<body>

    <div class="container">
            <div class="container">
                    <div class="row">
                      <div class="col">
                        <!--gambarku-->
                        <img class="img-thumbnail" src="https://i.imgur.com/3niKvAk.jpg" alt="picture of Puspa">
                      </div>
                      <div class="col">
                        <!--namaku-->
                        <div class="siapaaku">
                                <h2 class="namaku"><i>Puspacinantya</i></h2>
                                <h6><i>A student of Computer Science</i></h6>      
                        </div>
                         <!--brief desc-->
                            <div class="container">
                                    <p >I am Puspa, an aspiring UI student that currently pursue my major in information system. I have been extensively involved in my university community and i would love to develop my career in a bigger scale.</p>
                                    <button type="button" class="btn btn-dangery" style="color:#A10115"><strong><a href="/trials4/education" class="btn btn-default">Education, skills & experiences</a></strong></button>
                                </div>
                      </div>
                    </div>
                    <div class="row">
                            <div class="company">
                                    <h6>Companies I've Worked With</h6>
                                    <div class= "container">
                                        <div class= "box">
                                            <img src="https://i.imgur.com/5ALeYHu.jpg" class="rounded float-left" alt="laptop 1">
                                        </div>
                                        <div class= "box">
                                                <img src="https://i.imgur.com/mVZmjsm.jpg" class="rounded mx-auto d-block" alt="laptop 2" >  
                                        </div>
                                        <div class= "box">
                                                <img src="https://i.imgur.com/dUxXpBh.jpg" class="rounded float-right" alt="laptop 3">
                                        </div>
                                    </div>
                                </div>
                      </div>
                    </div>
                  </div>
            </div>
        <!-- masukin link yang js dari bootstrap biar jalan navbar kl kecil -->  
        {% include 'todrop.html' %}
   </body>
   
</html>