<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>My Schedule: Puspacinantya</title>
    
       <!-- navbar -->  
       {% include 'navbar.html' %}
</head>
<body>
    <div class="container">
        {% include 'namaku.html' %} 
        <div class="form-group">
            <h2>My Schedule</h2>
            <form id="form" method="POST" action="{% url 'savejadwal' %}">
                {% csrf_token %}
                {{savejadwal}}
                <div class="submit-btn">
                    <input id="submit" type="submit" class="btn btn-dangery" style="color:#A10115" value="Submit">
                </div>
                </form>
        </div>
    </div>
       
    <!-- masukin link yang js dari bootstrap biar jalan navbar kl kecil -->  
    {% include 'todrop.html' %}
   </body>
   
</html>