<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>My Writings: Puspacinantya</title>
       <!-- navbar -->  
       {% include 'navbar.html' %}
</head>
<body>
    <div class="container">
    <!-- masukin header nama -->  
    {% include 'namaku.html' %}   
    <div class="mywritings">
        <h4 class="pagename">My Writings</h4>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="conwri">
                        <h4>Women in Tech: Find Your Inspiration</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="conwri">
                        <h4>New to Programming?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="conwri">
                        <h4>How was My First Programming Experience?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="conwri">
                        <h4>What is Product Manager?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
    </div>
    <!-- masukin link yang js dari bootstrap biar jalan navbar kl kecil -->  
    {% include 'todrop.html' %}
</body>
</html>