<!--namaku-->
<div class="siapaaku">
    <h2 class="namaku"><i>Puspacinantya</i></h2>
    <h6><i>A student of Computer Science</i></h6>
    <button type="button" class="btn btn-dangery" style="color:#A10115"><a href="/trials4/education" class="btn btn-default">Education, skills & experiences</a></button>
</div>