<!-- navbar -->  
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #DED1D3;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/trials4/homepage">Hi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trials4/myproject">My Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trials4/mywritings">My Writings</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/trials4/testimonials">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trials4/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trials4/guestbook">Guestbook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trials4/schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trials4/scheduleresult">Schedule Result</a>
        </li>
    </ul>
  </div>
</nav>