<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>My Project: Puspacinantya</title>
       <!-- navbar -->  
       {% include 'navbar.html' %}
</head>
<body>
        <div class="container">
            <!-- Content here -->
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col">
                            <!-- masukin header nama -->  
                            {% include 'namaku.html' %}   
                        </div>
                    </div><div class="mypro">
                            <h4 class="pagename">My Projects</h4>
                            <div class="container">
                                <div class="box">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="https://i.imgur.com/9dxJQfE.jpg/100px200/" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">Project with Tarung</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="https://i.imgur.com/gh7Yh6J.jpg/100px200/" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">CS UI</h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="https://i.imgur.com/QMIdGnq.jpg/100px200/" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">Fasilkom</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
        </div>
    <!-- masukin link yang js dari bootstrap biar jalan navbar kl kecil -->  
    {% include 'todrop.html' %}
</body>
</html>