<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>All of My Schedule: Puspacinantya</title>
    
       <!-- navbar -->  
       {% include 'navbar.html' %}

</head>
<body> 
    <div class="container">
        {% include 'namaku.html' %} 
        <br><br><br>
        <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Date and Time</th>
                        <th>Place</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in table %}
                    <tr>
                        <td> {{i.eventname}} </td>
                        <td> {{i.date}} </td>
                        <td> {{i.place}} </td>
                        <td> {{i.category}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
        <button class="btn btn-dangery" style="color:#A10115"><a href="{% url 'deletetable' %}">Delete All</a></button>
    </div>
</body>
</html>