<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Testimonials: Puspacinantya</title>
       <!-- navbar -->  
       {% include 'navbar.html' %}
</head>
<body>
    <div class="container">
        <!-- masukin header nama -->  
        {% include 'namaku.html' %}   

            <div class="testi">
                    <h4 class="pagename">Testimonials</h4>
                    <div class= "container">
                        <div class= "box">
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="https://i.imgur.com/GnZvwh2.jpg/100px180/" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">PT.XYZ</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                            </div>
                        </div>
                        <div class= "box">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="https://i.imgur.com/Z9SqPCw.jpg/100px180/" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">PT.ABC</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                        </div>
                        <div class= "box">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://i.imgur.com/Wx30XJZ.jpg/100px180/" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">PT.YAYAYA</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    <!-- masukin link yang js dari bootstrap biar jalan navbar kl kecil -->  
    {% include 'todrop.html' %}
</body>
</html>